*{
    box-sizing: border-box;
}
body{
    margin: 0 ;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
}
span{
    color: rgb(227, 86, 15);
}
.surus{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.welcome{
    height: auto;
    width: 50%;
    margin: 1% 0 0 7%;
    padding-right: 30px;
}
.image{
    width: 60%;
    height: auto;
    margin: 10px auto;
    padding-left: 15%;
    margin-top: 20px;
  }  
    

img{
    height: 380px;
    width: 390px;
    flex: left;
    margin-right:20px;
}
.welcome a{
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold ;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
   
}

.surus1{
    margin-top: 150px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.welcome1{
    height: auto;
    width: 40%;
    margin: 1% 10% 0 0;
    padding: auto;
   
}
.image1{
    width: 50%;
    height: auto;
    margin: 1px auto;
    padding-left: 5%;
    margin-top: 20px;
    text-align: center;
  }  
    

  .image1 img{
    height: 380px;
    width: 390px;
   padding: 0 auto;
    
   
}
.welcome1 a{
    background-color: tomato;
    border: none;
    padding: 7px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold ;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
   
}
.card{
    margin: 2%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
background-position: left;

}

.card-des{
    display: flex;
    margin: 0 auto;
  
}
.card1{
    width: 50%;
    padding:10px 30px;
    margin: 10px;
   
}
.card2{
    width: 50%;
    padding:10px 30px;
    margin: 10px;
   
   
}
.main-card{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-left: 7px tomato solid;
    box-shadow: 10px 10px 35px gray;
    padding: 20px 10px;
    border-radius: 5px;

}
footer{
    margin-top: 110px;
    text-align: center;
    background-color: black;
    color: red;
    
    padding: 20px;
}
